:root {
  --black: #141414;
  --gray: #aaa;
  --red: #e50914;
  --white: #fff;
}

* {
  box-sizing: border-box;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 16px;
}

.body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Times New Roman', Times, serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header__logo {
  color: var(--red);
  font-family: 'Arial Black', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.nav {
  color: var(--gray);
  font-size: 1.25rem;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  margin-left: 2rem;
}

.nav__link:hover {
  color: var(--white);
}

.spotlight {
  background: url(../img/spotlight-background.jpg);
  background-blend-mode: soft-light;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  padding: 4rem;
}

.spotlight__title {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.spotlight__description {
  font-size: 1.5rem;
  line-height: 1.5;
  width: 55%;
  margin-bottom: 4rem;
}

.spotlight__button {
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: .25rem;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-right: 2rem;
  padding: .75rem;
  width: 12rem;
}

.spotlight__button:hover {
  background-color: var(--red);
  border: 1px solid var(--red);
}