:root {
  --background-color: #141414;
  --background-color-transparent: #141414bb;
  --secondary-text-color: #aaa;
  --main-color: #e50914;
  --main-text-color: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  scroll-behavior: smooth;
}

.body {
  background-color: var(--background-color);
  color: var(--main-text-color);
}

.header {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  position: sticky;
  inset: 0;
  z-index: 99;
}

.header__logo {
  margin-left: 2rem;
  color: var(--main-color);
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .2rem;
  line-height: 1;
  text-transform: uppercase;
}

.nav__button {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.nav__button__icon {
  background: #fff;
  display: block;
  position: relative;
  height: .2rem;
  width: 2rem;
  top: .9rem;
  left: 0;
  transition: 0.5s ease-in-out;
}

.nav__button__icon::before,
.nav__button__icon::after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
  width: 100%;
}

.nav__button__icon::before {
  top: -.6rem;
}

.nav__button__icon::after {
  bottom: -.6rem;
}

.nav__control {
  display: none;
}

.nav__control:checked ~ label .nav__button__icon {
  transform: rotate(45deg);
}

.nav__control:checked ~ label .nav__button__icon::before {
  top: 0;
  transform: rotate(90deg);
}

.nav__control:checked ~ label .nav__button__icon::after {
  bottom: 0;
  transform: rotate(90deg);
}

.nav {
  background-color: inherit;
  color: var(--secondary-text-color);
  height: 100vh;
  left: -100%;
  max-width: 18rem;
  padding: 1rem;
  position: fixed;
  top: 3.8rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .1rem;
  transition: .7s;
}

.nav__item {
  list-style: none;
  margin-bottom: 2rem;
}

.nav__link {
  transition: .5s ease all;
}

.nav__link:hover {
  color: var(--main-text-color);
}

.nav__control:checked ~ .nav {
  left: 0;
}

.spotlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 4rem 5%;
}

.spotlight__title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.spotlight__description {
  font-size: .85rem;
  line-height: 1.25;
  width: 100%;
  margin-bottom: 3rem;
}

.spotlight__button {
  align-items: center;
  background-color: var(--main-text-color);
  border-radius: .25rem;
  color: var(--background-color);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
  opacity: .6;
  padding: .75rem;
  transition: .8s ease all;
  width: 12rem;
}

.spotlight__button-play {
  background-color: var(--main-color);
  color: var(--main-text-color);
}

.spotlight__button:hover {
  opacity: 1;
}

.material-icons {
  font-size: 1.5rem;
  margin-right: .5rem;
}

.section {
  padding: 2rem 1rem 0;
}

.section__title {
  font-size: 1.5rem;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
}

.section__item {
  position: relative;
  display: grid;
}

.item:hover .item__description {
  display: flex;
  opacity: 1;
}

.item__image {
  display: block;
  cursor: pointer;
  width: 100%;
}

.item__description {
  border: 1px solid red;
  height: 100%;
  width: 100%;
  background-color: var(--background-color-transparent);
  padding: 1rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s;
}

.item__title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.item__sinopse {
  font-size: .9rem;
  line-height: 150%;
}

/* === MODAL === */
.modal__overlay {
  background-color: var(--background-color-transparent);
  height: 100vh;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 100;
}

.modal {
  background-color: transparent;
  height: 90vh;
  margin: 5vh auto;
  position: relative;
  width: 90%;
}

.modal__close {
  color: var(--main-text-color);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -.5rem;
}

/* === MODAL ACTIVE=== */
.modal__overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__media {
  height: 90%;
  width: 100%;
  position: absolute;
  top: 5%;
}